/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /*Colors*/
    --black-color: #000000;
    --primary-color: #003049;
    --secondary-color: #fff;
    --color_3: #d62828;
    --color_4: #f77f00;
    --color_5: #fcbf49;
    --color_6: #eae2b7;
    --color_7: #2a9d8f;

    /*Font Sizes*/
    --font-size-s: 0.9vw;
    --font-size-n: 1vw;
    --font-size-m: 1.2vw;
    --font-size-l: 1.5vw;
    --font-size-xl: 2vw;
    --font-size-xxl: 2.5vw;
    --font-size-xxxl: 3vw;


    /*Font Weights*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;

    /*Border Radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Site Max Width*/
    --site-max-width: 1450px;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

img {
    display: block;
    max-width: 100%;
}

/*Navba*/
header {
    position: relative;

    width: 100%;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    align-items: center;
}

.navbar .nav_title .title-text {
    color: var(--secondary-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav_title .title-subtext {
    color: var(--secondary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
}

.navbar .nav-menu {
    display: flex;
    gap: 3vw;
}

.navbar .nav-menu .nav-link {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;

    color: var(--secondary-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;

}

.navbar .nav-menu .nav-link:hover {
    background: var(--color_4);
    color: var(--primary-color);
}

/* BODY */
html {
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(135deg,hsl(173, 59%, 60%),hsl(201, 100%, 30%));
}


.hero-section {
    width: 100%;
    color: #000;
    height: 85vh;
}

.section-content{
    width: 100vw;
    margin: 0 auto;
}

.hero-details {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    width: 100vw;
}

.hero-img {
    margin-left: auto;
    margin-right: 2vw;

}

.hero-details .hero-img .profile-image {
    width: 40vw;
    height: 35vw;
    border-radius: var(--border-radius-m);
    object-fit: cover;
}

.hero-details .hero-text {
    margin-bottom: 8vw;
    margin-left: 1vw;
    width: 50vw;
    text-align: left;
}

.hero-text .hero-title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}

.hero-text .hero-description {
    font-size: var(--font-size-xl);
    color: var(--black-color);
    padding-top: 5vw;
}
/* About Me Specific Styles */

.aboutMe {
    height: 125vh;
}

.carousel {
    display: flex;
    position: absolute;
    top: 650px;
    margin: 100px auto;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;

}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    justify-content: center;
    gap: 1em;
    animation: spin 15s linear infinite;
    padding-right: 1em;


}

.v1, .v2, .v3, .v4, .v5, .v6 {
    flex: 0 0 auto;
    height: 7em;
    width: 7em;
    background: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.v1 video {
    width: 150%;
    height: 150%;
    transform: scale(1.25, 1);
    object-fit: fill;
}

.v2 video {
    width: 200%;
    height: 125%;
    transform: translateX(20px);
    transform: translateY(30px);

    object-fit: fill;
}

.v3 img {
    width: 115%;
    height: 100%;
    /* transform: translateX(10px); */

    object-fit: fill;
}

.v4 video {
    width: 135%;
    height: 90%;
    transform:
    translateY(5px)
    scale(1.15, 1.15);


    object-fit: fill;
}

.v5 img {
    width: 115%;
    height: 100%;
    /* transform: translateX(10px); */

    object-fit: fill;
}


.v6 {
    position: relative;
}

.antennaP {

    object-fit: fill;
    position: absolute;
    width: 50%;
    height: 30%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.S11 {

    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 1;
}

.aboutMeDiv {
    text-align: left;
    margin: 0 auto;
    position: relative;
}

.aboutMeText{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    /* margin-right: 800px; */
    max-width: 500px;
}

.aboutMeList {
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    list-style: disc;
    padding-left: 40px;
}


.aboutMeText2{
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
    color: var(--black-color);
    /* margin-right: 800px; */
    max-width: 600px;
}

.EulerDiagram{
    position: absolute;
    top: 50px;
    right: 150px;
    width: 500px;
    height: 500px;
}

.EulerDiagram img {
    width: 500px;
    height: 500px;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

/* myEdu Specific Styles */
.eduBody {
    position: relative;
    height: 200vh;
}

.eduSections {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    display: flex;
    height: 153px;
    justify-content: center;
    gap: 50px;
}

.eduElem {
    display: flex;
    position: relative;
    width: 450px;
    height: 150px;
    background: rgb(91, 195, 199);
    border: 3px solid rgb(0, 50, 102);
    border-radius: var(--border-radius-s);
}

.eduElem .ubcLogo{
    position: relative;
    width: 150px;
    left:-10px;
}

.eduElem .eduText .title{
    position: absolute;
    top: 20px;
    left: 130px;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}

.eduElem .eduText .desc{
    position: absolute;
    top: 60px;
    left: 130px;
    width:280px;
    font-size: var(--font-size-m);
    color: var(--black-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.eduPage .EngBoxes {
    position: relative;
    left: 50%;
    transform: translate(-50%,150px);
    align-items: flex-start;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.eduPage .EngBoxes .box{
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 35px;
    border-radius: 10px;
    border: 4px solid rgb(0, 50, 102);
    background-color:  rgb(170, 255, 255);
}

.EngBoxes .title{
    position: relative;
    top: 5px;
    left: 10px;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
}

.EngBoxes .list{
    position: relative;
    top: 20px;
    left: 30px;
    font-size: var(--font-size-m);
    list-style: disc;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 10px;
}

/* WorkXP Specific Styles */
.workXp_hero-section {
    display: flex;
    justify-content: center;
    height: 1000px;
    gap:20px;
}

.cols{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workXp .workXp-hero-section {
   display: flex;
   flex-direction: column;
}

.workXp .title{
    height: 120px;
    padding-left: 10px;
}

.workXp .desc{
    font-size: 1.5rem;
    padding-left: 10px;
    height: 70px;
}

.workXp .XP_s1, .workXp .XP_s2 {
    display: flex;
    height: 600px;
    border: 2px solid;
    border-image: linear-gradient(90deg, hwb(173 0% 50%), hwb(201 0% 55%)) 1;
}

.workXp .XP_s1 .all_text, .workXp .XP_s2 .all_text{
    background-color: rgba(170, 255, 255, 0.5);
    border: 3px solid black;
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-m);
    padding-left: 5px;
}

.workXp .XP_s1 .xp_jobtitle, .workXp .XP_s2 .xp_jobtitle{
    padding-bottom: 10px;
}

.workXp .xp_desc{
    padding-bottom: 10px;
    padding-left: 5px;
}

.workXp .XP_s1 .myWork, .workXp .XP_s2 .myWork{
    padding-top: 30px;
    padding-bottom: 10px;
}

.workXp .links{
    padding-top: 20px;
}

.workXp .XP_s1 ul, .workXp .XP_s2 ul{
    padding-left: 30px;
    list-style: disc;
}



.workXp .xp1{
    height: 500px;
}
.workXp .xp1 .job-media1{
    margin-left: auto;
    height: 250px;
}



.workXp .xp2{
    height: 750px;
}
.workXp .xp2 .job-media1{
    margin-right: auto;
    height: 300px;
}
.workXp .xp2 .job-media2{
    margin-right: auto;
    height: 450px;
    width:600px;
}
.workXp .xp2 .xp2-media{
    width: 1500px;
}



.workXp .xp3 .job-media1{
    margin-left: auto;
    height: 300px;
    width: 400px;
}
.workXp .xp3 .job-media2{
    height: 315px;
    width: 400px;
}
.workXp .xp3 .btm_media{
    display: inline-flex;
    justify-content: center;
}
.workXp .xp3 {
    height: 620px;
}


.workXp .xp4{
    height: 500px;
}
.workXp .xp4 .xp-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(164, 25, 46);
}
.workXp .xp4 .xp-media .job-media1{
    height: 200px;
    width: 280px;
}
.workXp .xp4 .xp-media .job-media2{
    margin-top: 20px;
    width: 500px;
}


.workXp .xp5{
    height: 470px;
}
.workXp .xp5 .xp-media{
    display: flex;
    align-items: center;
    background: rgb(164, 25, 46);
}
.workXp .xp5 .xp-media .job-media1{
    height: 300px;
    width: 1200px;
}

.workXp .xp6{
    height: 450px;
}
.workXp .xp6 .xp-media{
    display: flex;
    align-items: center;
    background: rgb(164, 25, 46);
}
.workXp .xp6 .xp-media .job-media1{
    height: 300px;
    width: 900px;
}



/* cert specific styles */
.cert .hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;

}
.cert .certHero {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
    gap:50px;
}

.cert .boxes:not(.box3){
    border-radius: var(--border-radius-s);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cert .boxes{
    transition: 0.3s ease;
    width: 400px;
    height: 300px;
}

.cert .boxes img:not(.box3 img){
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--border-radius-s);
}

.cert .box3 {
    display: flex;
    background: white;;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius-s);
    justify-content: center;
    text-align: center;
}

.cert .box3 img {
    border-radius: var(--border-radius-s);
    height: 200px;
    margin-bottom: -10px;
}

.cert .box3 p {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--black-color);
}

.boxes:hover {
    transform:
    scale(1.1,1.1);
    transition: 0.3s ease;
}


/* Projects Specific Styles */

.proj .proj-intro {
    display: flex;
    flex-direction: column;
}

.proj .proj-intro .proj-title{
    padding-left: 10px;
    padding-top: 10px;
}

.proj .proj-intro .proj-desc{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: var(--font-size-l);
}

.proj .proj-hero {
    height: 1000px;
    display: flex;
    justify-content: center;
}

.proj .proj-hero .proj-boxes {
    display: flex;
    justify-content: center;
    align-content: start;
    width: 100%;
    padding-top: 50px;
}

.proj .proj-hero .proj-boxes .proj-col {
    display: flex;
    justify-content: start;
    flex-direction: column;

}

.proj .proj-hero .proj-box {
    width: 500px;
    height: 240px;
    background: rgb(170, 255, 255);
    border: 3px solid rgb(0, 50, 102);
    border-radius: var(--border-radius-s);
}

.proj .col1 .box1, .proj .col2 .box4, .proj .col3 .box2 {
    height: 400px;
}

.proj .col1 .box1{
    display: flex;
    flex-direction: column;
}

.proj .col1 .box1 .title{
    padding-left: 10px;
    padding-top: 10px;

}
.proj .col1 .box1 .content{
    display: flex;
}

.proj .col1 .box1 .content .desc{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-left: 20px;

    width: 270px;

    font-size: 0.65rem;
}
.proj .col1 .box1 .content ol{
    padding-top: 20px;
    padding-left: 10px;
    list-style: disc;
}
.proj .col1 .box1 .content li{
    padding-bottom: 4px;

}

.proj .col1 .box1 .all-imgs-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: auto;

}
.proj .col1 .box1 .set1-imgs{
    display: flex;
    gap: 20px;
}
.proj .col1 .box1 .set1-imgs .proj-img{
    margin-top: -28px;
    height: 100px;
}
.proj .col1 .box1 .set2-imgs{
    display: flex;
    height: 100px;
    gap: 10px;
}
.proj .col1 .box1 .set3-imgs{
    display: flex;
    height: 100px;
    margin-bottom: 5px;
}

.proj .col1 .box1 .link{
    padding-top: 20px;
    padding-left: 10px;
}

.proj .col1 .box2, .proj .col2 .box1, .proj .col3 .box3 {
    height: 400px;
}

.proj .proj-boxes .proj-box:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}
.proj .proj-boxes .proj-box{
    transition: 0.3s ease;
}

.proj .col1 .box2{
    height: 600px;
    display: flex;
    flex-direction: column;
}
.proj .col1 .box2 .content{
    display: flex;
    flex-direction: column;
}
.proj .col1 .box2 .content .all-imgs-box{
    margin-top: auto;
}
.proj .col1 .box2 .content .all-imgs-box img{
    border-radius: var(--border-radius-s);
}
.proj .col1 .box2 .title{
    padding-left: 10px;
    padding-top: 10px;
}
.proj .col1 .box2 .content .desc {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 0.65rem;
}
.proj .col1 .box2 .content ol:not(.list2){
    padding-left: 10px;
    padding-top: 10px;
    list-style: disc;
}
.proj .col1 .box2 .content .list1{
    list-style: disc;
    padding-top: 5px;
}
.proj .col1 .box2 .content .list2{
    list-style: disc;
    padding-left: 50px;
}
.proj .col1 .box2 .content .link{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.proj .col2 .box1{
    display: flex;
    flex-direction: column;
}
.proj .col2 .box1 .title{
    padding-left: 10px;
    padding-top: 10px;
}
.proj .col2 .box1 .content{
    display: flex;
    padding-top: 10px;
}
.proj .col2 .box1 .content .desc{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 0.7rem;
    width:300px;
}
.proj .col2 .box1 .content ol{
    padding-top: 20px;
    list-style-type: disc;
    list-style-position: inside;
}

.proj .col2 .box1 .content .all-imgs-box{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 300px;
    margin-top:-40px;
}

.proj .col2 .box2{
    display: flex;
    flex-direction: column;
    height: 700px;
}
.proj .col2 .box2 .title{
    padding-left: 10px;
    padding-top: 10px;
}
.proj .col2 .box2 .content{
    display: flex;
    padding-top: 10px;
}
.proj .col2 .box2 .content .desc{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 0.7rem;
    width:400px;
}
.proj .col2 .box2 .content ol{
    padding-top: 20px;
    list-style-type: disc;
    list-style-position: inside;
}
.proj .col2 .box2 .content .all-imgs-box{
    padding-top: 20px;
    display: flex;
    margin-top: auto;
}
.proj .col2 .box2 .content .all-imgs-box img{
    object-fit: cover;
    width: 250px;
    margin-left: auto;
}
.proj .col2 .box2 .content .all-imgs-box video{
    margin-right: auto;
    object-fit: cover;
    width: 400px;
}


.proj .col3 .box1{
    display: flex;
    flex-direction: column;
    height: 500px;
}
.proj .col3 .box1 .title{
    padding-top: 10px;
    padding-left: 10px;
}
.proj .col3 .box1 .content{
    display: flex;
    padding-top: 10px;
}
.proj .col3 .box1 .desc{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 0.65rem;
}
.proj .col3 .box1 .desc ol{
    padding-top: 10px;
    list-style: disc;
    list-style-position: inside;
}

.proj .col3 .box1 .desc li{
    padding-bottom: 4px;
}

.proj .col3 .box1 .all-imgs-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.proj .col3 .box2{
    display: flex;
    flex-direction: column;
    height: 500px;
}
.proj .col3 .box2 .title{
    padding-top: 10px;
    padding-left: 10px;
}
.proj .col3 .box2 .content{
    display: flex;
    padding-top: 10px;
}
.proj .col3 .box2 .desc{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 0.65rem;
}
.proj .col3 .box2 .desc ol{
    padding-top: 10px;
    list-style: disc;
    list-style-position: inside;
}

.proj .col3 .box2 .desc li{
    padding-bottom: 4px;
}

.proj .col3 .box2 .all-imgs-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    object-fit: cover;
}

.proj .col3 .box2 .bottom_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj .col3 .box2 .bottom_img img{
    height:300px;
    width: 450px;
}

/* Skills Specific Styles */

.sklz .sklz-intro{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}
.sklz .sklz-intro .intro-desc{
    padding-top: 10px;
    font-size: x-large;
}

.sklz .sklz-section{
    display: flex;
    flex-direction: column;
}

.sklz-bdy{
    /* min-height: 100%; */
    height: 100vh;

}